/* --------------- Fonts used : Poppins + Unbounded --------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

/* --------------- Scroll --------------- */

/*
body::-webkit-scrollbar {
    display: none;
}
*/

/* --------------- Website Theme --------------- */

:root {
    --section-padding: 4rem;
}

body {
    --bg-color: #e6e1de;
    --bg-color-transparent: rgb(235, 227, 239, 0.8);
    --main-color: #374375;
    --text-color: #191919;
    --accent-color: #cd5479;
    --white-color: #eeeae7;
}

/* --------------- General Styles --------------- */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    overflow-x: hidden;
    background-color: var(--bg-color);
    font-family: "Instrument Sans", sans-serif;
    transition: 0.3s background-color;
    color: var(--text-color);
    cursor: default;
}

body.stopScrolling {
    height: 100%;
    overflow: hidden;
}

::selection {
    background-color: var(--hover-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.card {
    color: var(--text-color);
    border-radius: 8px;
}

/* --------------- Reusable CSS Code --------------- */

.mm-navbar-container {
    position: relative;
    width: 100%;
    max-width: 100vw;
    padding: 0 1.5rem;
    margin: 0 auto;
}


.mm-logo {
    transition: 0.3s;
}

.section {
    position: relative;
    padding: var(--section-padding) 0;
    height: 100%;
    overflow: hidden;
}

.font-serif {
    font-family: 'Instrument Serif', serif;
}

/* Responsive font sizes using rem units */
.mm-h1 {
    font-size: 5rem;
}

.mm-h2 {
    font-size: 4rem;
}

.mm-h3,
.mm-slogan {
    font-size: 2rem;
}

/* Example for paragraph text */
p {
    font-size: 1.02rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 400;
    padding-bottom: 24px;
    color: var(--main-color);
    font-family: 'Instrument Serif', serif;
}

.main-color {
    color: var(--main-color);
}

.accent-color {
    color: var(--accent-color);
}

.btn-pink {
    background: linear-gradient(to right, var(--accent-color) 0%, var(--accent-color) 50%, var(--main-color) 50%, var(--main-color) 100%);
    color: var(--bg-color);
    background-size: 200% 100%;
    transition: background-position 0.3s ease, color 0.3s ease;
    border: none;
}

.btn-pink:hover {
    background-position: -100.4% 0;
    color: var(--bg-color);
    border: none;
}


/* --------------- Navbar Styling --------------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.3s;
    background-color: none;
}

header.scrolled {
    background-color: var(--bg-color);
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
}

nav.mm-navbar-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header .mm-logo {
    height: 60px;
    line-height: 60px;
}

header.scrolled .mm-logo {
    height: 60px;
    line-height: 60px;
}

.mm-navbar-links {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.mm-navbar-links ul {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.mm-navbar-link,
.filter-button {
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    color: var(--main-color);
    font-weight: 500;
    transition: 0.3s;
}

.mm-navbar-link::after,
.filter-button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: var(--accent-color);
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s;
}

.mm-navbar-link:hover,
.mm-navbar-link.active,
.filter-button:hover,
.filter-button.mixitup-control-active {
    color: var(--accent-color);
}

.mm-navbar-link:hover::after,
.mm-navbar-link.active::after,
.filter-button:hover::after,
.filter-button.mixitup-control-active::after {
    width: 100%;
}

.mm-navbar-hamburger {
    display: none;
    padding: 1rem 0;
    height: 12px;
    width: 25px;
    box-sizing: content-box;
    cursor: pointer;
    position: relative;
    margin: 20px;
}

.mm-navbar-hamburger .mm-bar {
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    border-radius: 3px;
    position: absolute;
}

.mm-navbar-hamburger .mm-bar:first-child {
    top: 1rem;
    transition: top 0.2s 0.15s, transform 0.3s;
}

.mm-navbar-hamburger .mm-bar:last-child {
    bottom: 1rem;
    transition: bottom 0.2s 0.15s, transform 0.3s;
}

body.open .mm-navbar-hamburger .mm-bar:first-child {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transition: top 0.2s, transform 0.3s 0.1s;
}

body.open .mm-navbar-hamburger .mm-bar:last-child {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
    transition: bottom 0.2s, transform 0.3s 0.1s;
}

.fa-square-behance {
    color: #1769ff;
}

/* --------------- Home Styling --------------- */
.home-section {
    height: 100vh;
}

.home-section .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.home-section .video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.home-section .color-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    background: rgb(230, 225, 222, 0.5);
}

.home-section .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
}

.typewrite .cursor {
    border-right: 0.05em solid #ffffff;
    padding-right: 0.05em;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

/* --------------- About Styling --------------- */
.about-section img {
    width: 100%;
}

.star-bullets {
    list-style: none;
    padding-left: 0;
}

.star-bullets li {
    position: relative;
    padding-left: 30px;
    /* Adjust padding to fit emoji size */
}

.star-bullets li::before {
    content: "\01F31F";
    position: absolute;
    left: 0;
    top: 0;
}

/* --------------- Skills Styling --------------- */
.skills-section .card {
    border: 1px solid #bebebe;
    background-color: var(--white-color);
}

.skills-section img {
    width: 60px;
}

.skills-section .progress {
    background-color: #bebebe;
    height: 5px;
}

.skills-section .progress-bar {
    background-color: var(--main-color);
    transition-property: width, background-color;
}

.progress .progress-bar {
    animation: progressAnimation 3s;
}

@keyframes progressAnimation {
    0% {
        width: 0%;
        background-color: var(--main-color);
    }

    100% {
        background-color: var(--main-color);
    }
}

.skill-percent {
    width: fit-content;
    float: inline-end;
    padding: 0 10px;
    border: 1px solid var(--accent-color);
    border-radius: 16px;
    background-color: rgba(205, 84, 120, 0.1);
    color: var(--text-color);
}

.skills-section .card-text {
    font-weight: 500;
}

/* --------------- Services Styling --------------- */
.services-section .card {
    border: 1px solid #bebebe;
    background-color: #eeeae7;
    cursor: default;
    transform: translateY(0);
    transition: transform 0.3s ease;
    height: 100%;
}

.services-section .card:hover {
    /*border: 1px solid var(--main-color);*/
    background-color: rgba(255, 255, 255, 0.5);
    /*transform: translateY(10px);*/
}

.services-section .card-title {
    color: var(--accent-color);
}

/* --------------- Contact Styling --------------- */
.contact-section a {
    color: #663399;
}

.contact-section a:hover {
    color: #663399cb;
}

.contact-section .animated-icon {
    color: var(--accent-color);
}

.contact-section .form-control {
    background-color: transparent;
    border: 1px solid #bebebe;
}

.form-control:focus {
    border-color: var(--main-color);
    box-shadow: none;
}

/* Basic styles for the icon */
.icon-wrapper {
    text-align: center;
    margin-top: 20px;
}

.animated-icon {
    position: relative;
    /* Ensure the icon can be absolutely positioned */
    animation: bounce 0.8s infinite alternate;
    /* Adjust animation duration and timing as needed */
    cursor: pointer;
}

@keyframes bounce {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(10px);
    }
}

.list-group {
    border-radius: 0px;
}


.contact-section {
    margin-bottom: var(--section-padding);
}


.contact-section .list-group-item {
    background-color: transparent;
    border-top: 1px solid var(--accent-color);
    color: #663399;
    font-weight: 500;
}

.contact-section .list-group-item:last-child {
    border-bottom: 1px solid var(--accent-color);

}

.contact-section .list-group-item h1 {
    transform: translateX(0px);
    transition: transform 0.3s ease-in-out;
}

.contact-section .list-group-item h1:hover {
    transform: translateX(10px);
}

/* --------------- Portfolio Styling --------------- */
.portfolio-section img {
    width: 100%;
    border-radius: 4px;
}

.portfolio-section .filter-button {
    background-color: transparent;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.portfolio-section .gallery-item {
    border: 1px solid #bebebe;
    border-radius: 8px;
    background-color: #eeeae7;
}

.project-title {
    margin-top: 8px;
    margin-bottom: 0;
    color: var(--main-color)
}

.gallery-item:hover {
    border: 1px solid var(--main-color);
}

/* --------------- Footer Styling --------------- */
footer {
    padding: 2rem;
    border-top: 1px solid #bebebe;

}

/* --------------- 1358px Screens --------------- */
@media (max-width: 1358px) {}

/* --------------- 768px Screens --------------- */
@media (max-width: 768px) {
    :root {
        --section-padding: 4.5rem;
    }

    .mm-navbar-hamburger {
        display: block;
    }

    .mm-navbar-links {
        order: 3;
        flex-basis: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 0 2rem;
        opacity: 0;
        transition: 0.3s;
    }

    header nav {
        justify-content: space-between;
    }

    .mm-navbar-links ul {
        position: relative;
        flex-direction: column;
    }

    .mm-navbar-link {
        margin: 1.5rem 0;
        color: var(--heading-color);
        font-weight: 500;
    }

    .mm-navbar-links ul::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 0.5px;
        background-color: var(--heading-color);
        opacity: 0;
        top: -0.5rem;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s;
    }

    .overlay {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 6;
        opacity: 0;
        transition: 0.3s;
        pointer-events: none;
    }

    header {
        height: 550px;
        max-height: 100px;
        overflow: hidden;
    }

    header.scrolled {
        height: 485px;
        max-height: 80px;
    }

    body.open header {
        max-height: 550px;
        background-color: var(--bg-color);
    }

    body.open .overlay {
        opacity: 1;
        pointer-events: auto;
    }

    body.open .mm-navbar-links ul::after {
        opacity: 0.7s;
        width: 100%;
    }

    body.open header.scrolled {
        max-height: 485px;
    }

    body.open .mm-navbar-links {
        opacity: 1;
    }

    /* Responsive font sizes using rem units */
    .mm-h1 {
        font-size: 4rem;
    }

    .mm-h2 {
        font-size: 3rem;
    }

    .mm-h3 {
        font-size: 2rem;
    }

    .mm-slogan {
        font-size: 1.5rem;
    }

    /* Example for paragraph text */
    p {
        font-size: 1.02rem;
    }
}

/* --------------- 650px Screens --------------- */
@media (max-width: 650px) {}

/* --------------- 500px Screens --------------- */

@media (max-width: 500px) {
    .mm-navbar-container {
        padding: 0 1rem;
    }

    /* Responsive font sizes using rem units */
    .mm-h1 {
        font-size: 2.5rem;
    }

    .mm-h2 {
        font-size: 2rem;
    }

    .mm-h3 {
        font-size: 1.5rem;
    }

    .mm-slogan {
        font-size: 1.5rem;
    }

    /* Example for paragraph text */
    p {
        font-size: 1rem;
    }

}

/* --------------- 390px Screens --------------- */

@media (max-width: 390px) {

    /* Responsive font sizes using rem units */
    .mm-h1 {
        font-size: 2.5rem;
    }

    .mm-h2 {
        font-size: 2rem;
    }

    .mm-h3 {
        font-size: 1.5rem;
    }

    .mm-slogan {
        font-size: 1.5rem;
    }

    /* Example for paragraph text */
    p {
        font-size: 1rem;
    }
}

/*---*/